<!DOCTYPE html>
<html>
  <head>
    <title>text</title>
    <link rel="stylesheet" type="text/css" href="./layout.css" />
  </head>

  <body>
    <!-- 圣杯 -->
    <div class="div1">
      <div class="header"></div>
      <div class="content">
        <div class="middle"></div>
        <div class="left"></div>
        <div class="right"></div>
      </div>
      <div class="footer"></div>
    </div>

    <br />
    <!-- 双飞翼 -->
    <div class="div2">
      <div class="header"></div>
      <div class="content">
        <div class="middle">
          <div class="inner-middle"></div>
        </div>
        <div class="left"></div>
        <div class="right"></div>
      </div>
      <div class="footer"></div>
    </div>

    <br />
    <!-- 两栏 1.浮动-->
    <div class="div3">
      <div class="left"></div>
      <div class="right">
        两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应
      </div>
    </div>

    <br />
    <!-- 两栏 2.定位-->
    <div class="div4">
      <div class="left"></div>
      <div class="right">
        两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应
      </div>
    </div>

    <br />
    <!-- 两栏 3.flex-->
    <div class="div5">
      <div class="left"></div>
      <div class="right">
        两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应两列自适应
      </div>
    </div>
  </body>
</html>
